#volume{
	z-index: 100;
	position: absolute;
}

.volume_button{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 8px;
}

progress[value]{
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  vertical-align: 7px;
  width: 100px;
  height: 10px;
}

progress[value]::-webkit-progress-bar{
  background-color: #333;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value{
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}