#name{
    font-size: 2em;
    padding: 0;
    text-align: center;
    background-color: black;
    color: white;
}
#details{
    background-color: black;
    border: groove;
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    text-align: justify;
    padding: 10px;
    width: 450px;
    height: 750px;
}

#retour{
    text-align: center;
    width: 50px;
    padding: 2px;
    background-color: black;
    position: fixed;
    margin-top: 5px;
    margin-left: 5px;
    border: ridge;
    border-color: #0CD4B9;
}

#retour a{
        color: #0CD4B9;
}

#retour a:hover{
    color: red;
}
