#name{
    font-size: 2em;
    padding: 0;
    text-align: center;
    background-color: black;
    color: white;
}
#details{
    background-color: black;
    border: groove;
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    display: block;
    color: white;
    text-align: justify;
    padding: 10px;
    width: 450px;
    height: 750px;
}